<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Shirine Repository - Ver 8.0.0 - Trial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="static/assets/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/default.min.css">
    <style>
        .metaBox {
            padding: 0.8rem;
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            word-break: break-all;
            border-radius: 12px;
            background: #f2f2f2;
            box-shadow: 8px 8px 16px #e7e7e7, -8px -8px 16px #ffffff;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container-fluid" style="padding:0;">
            <div id="header" class="d-flex flex-column align-items-center justify-content-center bg-light w-100"
                style="padding:2rem;">
                <h3>{{config.ui.title}}<span class="text-primary">|</span><span
                        class="text-secondary">{{config.ui.sub_title}}</span></h3>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-pills justify-content-center" style="padding:1rem;">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tag">Tag</a>
                </li>
                <li class="nav-item" v-for="tag in config.ui.nav.split(',')">
                    <a class="nav-link" data-toggle="pill" v-bind:href="'#'+tag.split('&').join('_')">{{tag}}</a>
                </li>
            </ul>
            <div id="main" class="d-flex flex-column align-items-center tab-content"
                style="padding:2rem;min-height:60vh;">
                <div class="tab-pane active" id="home" style="width:100%;max-width:768px;">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h4>Home</h4>
                        <button href="#" class="btn btn-primary" data-toggle="modal"
                            data-target="#createMeta">New</button>
                    </div><br>
                    <div class="d-flex flex-row flex-wrap">
                        <meta-box v-for="meta in meta.list" :key="meta.id" :meta="meta"
                            :expand-len="isInclude(meta.tag,config.display.tag.expand)?config.display.preview.more:config.display.preview.less"
                            :class="{'w-100':isInclude(meta.tag,config.display.tag.expand)}" @meta-clicked="viewMeta" />
                    </div>
                </div>
                <div class="tab-pane" id="tag" style="width:100%;max-width:768px;">
                    <h4>Tag</h4><br>
                    <div class="d-flex flex-row flex-wrap">
                        <div v-for="tag in meta.taglist">
                            <h5> <span class="text-primary">#</span>{{tag}} </h5>
                            <!-- <div class="d-flex flex-row flex-wrap" v-if="visible[tag]">
                                <meta-box v-for="meta in metaList" :key="meta.id" :meta="meta" v-if="isInclude(meta.tag,tag.split())" :expand-len="config.display.preview.less" />
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane" v-bind:id="tag.split('&').join('_')" style="width:100%;max-width:768px;"
                    v-for="tag in config.ui.nav.split(',')">
                    <h4><span class="text-primary">#</span>{{tag}}</h4><br>
                    <div class="d-flex flex-row flex-wrap">
                        <meta-box v-for="meta in meta.list" :key="meta.id" :meta="meta"
                            v-if="isInclude(meta.tag,tag.split())"
                            :class="{'w-100':isInclude(meta.tag,config.display.tag.expand)}"
                            :expand-len="isInclude(meta.tag,config.display.tag.expand)?config.display.preview.more:config.display.preview.less" />
                    </div>
                </div>
            </div>
            <div id="footer" class="d-flex flex-column align-items-center justify-content-center bg-light"
                style="padding:2rem;">
                <p><a href="#" data-toggle="modal" data-target="#register">Register</a> | <a href="#"
                        data-toggle="modal" data-target="#login">Login</a></p>
                <p>&copy; 2021 <span class="text-primary">|</span> xeonds</p>
            </div>
        </div>
        <div class="modal fade" id="register">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form action="core.php?api&v1&user&register" method="post">
                        <div class="modal-body">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control">
                            <label>Password</label>
                            <input type="text" name="password" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form action="core.php?api&v1&user&login" method="post">
                        <div class="modal-body">
                            <label>Username</label>
                            <input type="text" name="uid" class="form-control">
                            <label>Password</label>
                            <input type="text" name="password" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createMeta">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Meta</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form action="core.php?api&v1&meta&create_meta" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="hidden" name="time" v-bind:value="getTimestamp()">
                            <label>Meta Type</label>
                            <div>
                                <label class="radio-inline"><input type="radio" name="type" value="text"
                                        v-model="upload.metaType">Text</label>
                                <label class="radio-inline"><input type="radio" name="type" value="file"
                                        v-model="upload.metaType">File</label>
                                <label class="radio-inline"><input type="radio" name="type" value="metaArray"
                                        v-model="upload.metaType">Meta Array</label>
                            </div>
                            <label>Tags</label>
                            <input type="text" name="tag" class="form-control" placeholder="Use English ',' to split">
                            <label>UID</label>
                            <input type="number" name="uid" class="form-control">
                            <template v-if="upload.metaType=='text'">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control">
                                <label>Content</label>
                                <input type="text" name="content" class="form-control">
                            </template>
                            <template v-if="upload.metaType=='file'">
                                <label>File</label>
                                <input type="file" name="file" class="form-control">
                            </template>
                            <template v-if="upload.metaType=='metaArray'">
                                <label>Meta Array</label>
                                <input type="text" name="metaArray" class="form-control"
                                    placeholder="Use English ',' to split">
                            </template>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="viewMeta">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{meta.title}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="view-meta"></div>
                    <div class="modal-footer">
                        <p><span>{{meta.type}}</span><span class="text-primary"> · </span><span
                                v-for="tag in meta.tag"><span class="text-primary">#</span>{{tag}}&nbsp;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/jquery-3.3.1.slim.min.js"></script>
    <script src="static/assets/popper.min.js"></script>
    <script src="static/assets/axios.min.js"></script>
    <script src="static/assets/bootstrap.min.js"></script>
    <script src="static/assets/vue.js"></script>
    <script src="static/assets/vue-router.global.js"></script>
    <script src="static/assets/marked.js"></script>
    <script src="static/assets/highlight.min.js"></script>
    <script>
        //Initialize vue-components.
        Vue.component('meta-box', {
            data: function () {
                return {
                    'meta': '', 'expandLen': 32
                }
            }
            ,
            template: `<div class="metaBox" data-toggle="modal" data-target="#viewMeta" @click="$emit('meta-clicked',meta)">
                            <template v-if="meta.type=='text'">
                                <h4>{{meta.title}}</h4>
                                <p>{{meta.content.slice(0,expandLen)}}</p>
                            </template>
                            <template v-if="meta.type=='file'">
                                <h4 class="text-primary">{{meta.fileName}}</h4>
                                <p>File type: {{meta.fileName.split('.')[1]}}</p>
                            </template>
                            <span>{{meta.type}}</span><span class="text-primary"> · </span><span v-for="tag in meta.tag"><span class="text-primary">#</span>{{tag}}&nbsp;</span>
                        </div>`
        })
        //Initialize vue instance
        var vm = new Vue({
            el: '#app ',
            data: {
                'user': {},
                'meta': {
                    'metalist': [],
                    'taglist': []
                },
                'config': {
                    "ui": {
                        "title": "",
                        "nav": "",
                        "sub_title": "",
                        "footer": "",
                        "page": {
                            "comment_board": false,
                            "tags": false,
                            "archive": false
                        },
                        "login_entrance": false,
                        "open_link_in_new_tab": false
                    },
                    "meta": {
                        "comment_meta": false,
                        "file_detail": false,
                        "size_control": {
                            "full": "",
                            "wide": "",
                            "medium": "",
                            "small": ""
                        }
                    }
                },
                'visible': [],
                'upload': {}
            },
            created: async function () {
                var config = await this.getApi('config&get')
                that.config = config
                this.meta.metalist = await this.getApi('meta&get_meta', this.getTagList)
            },
            methods: {
                getApi: async function (url, fun = null) {
                    var res = await axios.get('core.php?api&v1&' + url)
                    if (res.status == 200) {
                        return res.data.data;
                    }
                },
                getTimestamp: function () {
                    return new Date().getTime()
                },
                getTagList: function () {
                    that = this;
                    that.meta.list.forEach(element => {
                        element.tag.forEach(e => {
                            that.meta.taglist.push(e)
                        })
                    })
                    that.meta.taglist = Array.from(new Set(that.meta.taglist))
                    that.meta.taglist.forEach(element => {
                        that.visible[element] = true
                    })
                },
                isInclude: function (a, b) {
                    var result = true
                    b.forEach(element => {
                        if (a.includes(element) == false)
                            result = false
                    })
                    return result
                },
                viewMeta: function (meta) {
                    that = this
                    that.meta = meta
                    document.getElementById("view-meta").innerHTML = marked(meta.content)
                    hljs.highlightAll();
                },
                onSwitchMetaBox: function (id) {

                }
            }
        });
    </script>
</body>

</html>